$bluecolor:#0F1A32;
$bonecolor:#F5F4F5;
$darkbluecolor:#0F1A32;
$graycolor:#464646;

.wrapper_footer{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer{
  width: 100%;
  background-color: $bonecolor; 
  margin-top: auto;
  font-family: hranfsey;
}



.footer_maps_container{
  display: flex;
  justify-content: space-between;
  height: 100%; 
  gap: 40px;  
  padding: .5%;
  border: $bluecolor solid 2px; 
  border-radius: 15px;  
}

.map_item{
  display: flex;
  column-gap: 3%;
  max-width: 100%;
  min-height: 100%;
  flex: 1; 
  border: $bluecolor solid 2px; 
  border-radius: 15px;  
  padding: 1%;
  
  
  iframe {
    max-height: 100%; 
    min-height: 100%;
    flex: 1;   
    border-radius: 15px;   
    display: flex;
  }
}

.text_map_container{
  font-size: 32px;
  flex: 1; 
}

.text_map_container_2{
  display: grid;
  justify-items: end;
  align-content: start; 
  row-gap: 15px;        
  font-size: 32px;
  flex: 1;             
}
.text_map_container_1{
  display: grid;
  justify-items: start;
  align-content: start; 
  row-gap: 15px;        
  font-size: 32px;
  flex: 1;              
}

.text_bkg{
  background-color: $bluecolor;
  width:fit-content;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
}
.p_text_bkg{
  color: $bonecolor;
  width: 100%;
}
.porsche_right_under_container{
    display: flex;
    justify-content: end;
}
.porsche_font_1{
  font-size: 32px;
  font-family: porsche;




}

.porsche_right_under {
  display: flex;
  align-items: center;
  gap: 5px; 
}